/* toda la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* el "body" */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vh;
    min-width: 750px;
    margin: auto;
    color: black;
    background-attachment: fixed;
}


/* contenedores de los selectores y botones */
.wrapper {
    display: flex;
    color: black;
}

.wrapper > div {
    font-size: 4vh;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
}

footer{
    position: absolute;
    bottom: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.copyright {
    position: fixed;
    left: 0;
    right: 0;
    margin-bottom: 15px;
    margin: auto;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1rem;
    text-align: center;
}



