* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vh;
    min-width: 750px;
    margin: auto;
    color: black;
    background-attachment: fixed;
}

footer{
    position: absolute;
    bottom: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.copyright {
    position: fixed;
    left: 0;
    right: 0;
    margin-bottom: 15px;
    margin: auto;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1rem;
    text-align: center;
}



